body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgba(0, 0, 0, 0.5);
}
#container{
    width:1000px;
    height: 550px;
    /*background-image: url("practical\calculator\calculator.jpg");*/
    margin: 20px auto;   
}
#calculator{
    width: 320px;
    height: 520px;
    background-color: #eaedef;
    margin: 0 auto;
    position: absolute;
    top: 20px;
    border-radius: 5px;
}
#history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color:#919191;
}
#output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size:20px;
}
#result{
    height:120px;
}
#keyboard{
    height:400px;
}
.operator, .number, .empty{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
}
.number, .empty{
    background: #eaedef;
}
.number, .operator{
    cursor: pointer;
}
.number:active, .operator:active{
    font-size:13px;
}
.number:focus, .operator:focus, .empty:focus{
    outline: 0;
}
button:nth-child(4){
    font-size: 20px;
    background: #20b2aa;
}
button:nth-child(8){
    font-size: 20px;
    background: #ffa500;
}
button:nth-child(12){
    font-size: 20px;
    background: #f08080;
}
button:nth-child(16){
    font-size: 20px;
    background: #7d93e0;
}
button:nth-child(20){
    font-size: 20px;
    background: #9477af;
}